﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Nurullah ÇINAR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Controllers/css/bootstrap.css">
    <link rel="stylesheet" href="~/Controllers/css/style.css">

</head>
<body>
    <!-- Navbar -->

    <nav class="nav-dark">

        <nav class="nav-brand"><a href="#"><img src="~/Controllers/images/logo.png"></a></nav>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav">
                <li href="#"><a class="nav-link">ANASAYFA</a></li>
                <li href="#"><a class="nav-link">BEN KİMİM?</a></li>
                <li href="#"><a class="nav-link">PROJELER</a></li>
                <li href="#">BLOG</li>
                <li href="#"><a class="nav-link">İLETİŞİM</a></li>
            </ul>
        </div>

    </nav>
    <!-- Navbar close -->
  @RenderBody()
    <div class="foter">

        © 2017 Nurullah ÇINAR

    </div>
    <!-- Javascript -->
    <script src="~/Controllers/js/jquery-3.2.1.js"></script>
    <script src="~/Controllers/js/bootstrap.js"></script>
</body>
</html>